@font-face {
    font-family: Poppins;
    src: url('../Font/Poppins/Poppins-Medium.ttf');
}

@font-face {
    font-family: Poppins-light;
    src: url('../Font/Poppins/Poppins-Light.ttf');
}

@font-face {
    font-family: Amiri-regular;
    src: url('../Font/Poppins/amiri/Amiri/Amiri-Regular.ttf');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #FFFFFF;
    --secondary-color: #0000;
    --text-font: Poppins;
    --poppins-light: Poppins-light;
    --p-color: #5E5E5E;
    --tirtiary-color: #95A986;
    --amiri-family: Amiri-regular;
}

.nav-container {
    max-width: 1750px !important;
}

.container {
    max-width: 1490px;
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.col-3 {
    width: calc(3 * 8.33%);
    padding: 0 15px;
}

.col-5 {
    width: calc(5 * 8.33%);
    padding: 0 15px;
}

.col-7 {
    width: calc(7 * 8.33%);
    padding: 0 15px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

.title-1 {
    font-size: 68px;
    font-weight: 700;
    text-align: center;
}


/* hdr-sec */

.hdr-top {
    background: black;
    color: white;
    text-align: center;
    padding: 4.5px;
    font-family: var(--text-font);
    margin-bottom: 21px;
}

.hdr-sec {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.nav-logo> {
    width: 312px;
}

.nav-logo>a>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

nav,
.navbar-links,
.navbar-links>ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-links>ul {
    margin-left: auto;
}

.navbar-links {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

.nav-links {
    color: var(--primary-color);
    font-size: 14px;
    font-weight: 400;
    font-family: var(--poppins-light);
}

.nav-items {
    margin-right: 56px;
}

.nav-icons {
    align-items: center;
    font-family: var(--poppins-light);
    color: var(--primary-color);
}

.nav-icons>a {
    margin-left: 22px;
}

.menu {
    border: 0;
    background: none;
    position: relative;
    z-index: 999;
    display: none;
    align-items: center;
    flex-direction: column;
    margin-left: auto;
}

.menu>span {
    display: inline-block;
    height: 3px;
    width: 30px;
    background: white;
    transition: 0.5s linear;
}

.menu::after,
.menu::before {
    position: absolute;
    content: '';
    height: 3px;
    width: 30px;
    background: white;
    transition: 0.5s linear;
}

.menu::after {
    top: -7px;
}

.menu::before {
    top: 7px;
}


.navbar-links.active {
    display: flex;
}

/* banner-sec */
.banner-sec {
    min-height: 100vh;
    background: url('../Assets/Maskgroup.png') no-repeat center / cover;
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-content {
    max-width: 793px;
    margin: 0 auto;
    width: 100%;
    background: var(--primary-color);
    border-radius: 20px;
    padding: 76px 59px;
    text-align: center;
}

.banner-content>p {
    font-size: 16px;
    font-family: var(--poppins-light);
    color: var(--p-color);
    max-width: 621px;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 35px;
}

.banner-btn {
    padding: 28.5px 38.5px;
    border-radius: 60px;
    background: #95A986;
    color: var(--primary-color);
    font-family: var(--text-font);
    letter-spacing: 5px;
    display: block;
    margin: 0 auto;
    width: fit-content;
}

/* about-sec */
.about-sec {
    padding: 150px 0;
}

.about-content>h5 {
    color: var(--tirtiary-color);
    font-family: var(--poppins-light);
    font-size: 16px;
    letter-spacing: 4px;
    margin-bottom: 6px;
}

.about-content>.title-2 {
    font-family: var(--amiri-family);
    font-size: 45px;
    margin-bottom: 15px;
    line-height: calc(60/45);
}

.about-content>p {
    color: var(--p-color);
    font-size: 16px;
    font-family: var(--poppins-light);
    margin-top: 21px;
}

.about-img {
    display: flex;
    align-items: center;
}

.abt-img1 {
    max-width: 425px;
}

.abt-img2 {
    margin-left: 24px;
    max-width: 303px;
}

.abt-img1>img {
    border-bottom-right-radius: 30px;
}

.abt-img2>img {
    border-top-right-radius: 30px;
}

.abt-img1>img,
.abt-img2>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* offer-sec */

.offer-sec {
    padding-bottom: 150px;
}


.offer-content>h5 {
    color: var(--tirtiary-color);
    font-family: var(--poppins-light);
    font-size: 16px;
    letter-spacing: 4px;
    text-align: center;
}

.offer-content>.title-2 {
    font-family: var(--amiri-family);
    font-size: 45px;
    line-height: calc(60/45);
    text-align: center;
    margin-top: 20px;
}

span>img {
    display: block;
    margin: auto;
    margin-top: 19px;
}

.circle-card {
    max-width: 230px;
    margin: 0 auto;
    margin-top: 30px;
}

.circle {
    height: 111px;
    width: 111px;
    background: var(--tirtiary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 60px;
    margin: 0 auto;
    position: relative;
}

.circle::after {
    content: '';
    inset: -12px;
    border-radius: 50%;
    position: absolute;
    background: rgba(149, 169, 134, 0.2);
}

.circle-card h3 {
    font-family: var(--amiri-family);
    font-size: 24px;
    margin-top: 32px;
    text-align: center;
    text-wrap: nowrap;
}

.circle-card p {
    font-size: 16px;
    font-family: var(--poppins-light);
    text-align: center;
    color: var(--p-color);
}

/* our-mission-sec */
.our-mission-sec {
    padding: 150px 0;
    background: #F6F6F6;
}
.our-mission-sec .row{
    align-items: center;
}
.mission-img {
    position: relative;
}

.mission-img1 {
    max-width:641px;
    margin-right: auto;
}
.mission-img1>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mission-img2 {
    max-width: 326px;
    position: absolute;
    right: 97px;
    bottom: -60px;
    border: 5px solid white;
    border-top-left-radius: 20px;
}

.mission-img2>img{
     width: 100%;
    height: 100%;
    object-fit: cover;
}
.mission-content>.title-2{
    font-family: var(--amiri-family);
    font-size: 45px;
}
.mission-content>p{
     font-size: 16px;
    font-family: var(--poppins-light);
    color: var(--p-color);
}






@media screen and (max-width:1350px) {
    .col-3 {
        width: 50%;
    }

    .col-5 {
        width: 100%;
    }

    .col-7 {
        width: 100%;
    }

    .navbar-links {
        display: none;
        position: fixed;
        top: 0;
        bottom: 0;
        right: -100;
        width: 50%;
        height: 100vh;
        background: black;
        transition: 0.5s linear;
    }

    .menu {
        display: flex;
        margin-left: auto;
    }

    .active {
        right: 0 !important;
    }

    .navbar-links {
        padding-top: 100px;
    }

    .navbar-links>ul,
    .navbar-links {
        flex-direction: column;
    }

    .nav-items {
        margin-left: 0;
        margin: 0 auto 20px;
    }

    /* about-sec */
    .about-content {
        margin: auto;
    }
}

@media screen and (max-width:992px) {
    .col-7 {
        width: 100%;
    }

    .about-sec {
        padding: 90px 0;
    }

    .about-img {
        margin-top: 35px;
    }

    .about-sec {
        padding: 90px 0;
    }

    .about-content {
        margin-bottom: 20px;
    }

    .abt-img1 {
        max-width: 200px;
    }

    .abt-img2 {
        max-width: 100px;
        margin-left: 12px;
    }
    /* mission-sec */
    .mission-img2{
        right:-10px;
        bottom: -56px;
    }
}

@media screen and (max-width:576px) {
    .col-3 {
        width: 100%;
    }

    .col-4 {
        width: 50%;
    }

    .col-5,
    .col-7 {
        width: 100%;
    }

    /* banner-sec */
    .banner-content {
        padding: 20px 30px;
    }

    .banner-content>.title-1 {
        font-size: 50px;
    }

    .banner-content>p {
        font-size: 12px;
        margin: 20px 0;
    }

    .banner-btn {
        padding: 15px 20px;
        font-size: 12px;
    }

    /* about-sec */

    .about-sec {
        padding: 90px 0;
    }

    .about-content {
        margin-bottom: 20px;
    }

    .abt-img1 {
        max-width: 200px;
    }

    .abt-img2 {
        max-width: 100px;
    }
     /* mission-sec */
     /* .our-mission-sec{
        padding: 90px 0;
     } */
      .mission-content{
        margin-top: 30px;
      }
     .mission-img1{
        max-width: 300px;
     }
    .mission-img2{
        max-width: 130px;
        right: 37px;
        bottom: -27px;
    }
}
@media screen and (max-width:320px) {
     .mission-img2{
        max-width: 130px;
        right: -17px;
        bottom: -27px;
    }
    
}